.title{
    text-align:center;
    margin-bottom: 0;
    padding: 5%;
}

body{
    background-color: #121212;
}

p{
    color: whitesmoke;
}

h1,h2,h3,h4{
    color: whitesmoke;
}


.main{
    width: 100%;
    min-height: 100%;
    background-color: rgba(18, 18, 18, 0.93);
}



/*TODO: Replace all this with d3/svg legend*/
/**************************/

.repLegend {
    position: relative;
    font-size: 1.2em;
    z-index: 1;
    overflow: hidden;
    padding-left: 20%;
    margin-left: 5%;
}

.repLegend:before {
    content: ' ';
    background-color: red;
    width: 48%;
    height: 2px;
    top: 51%;
    position: absolute;
    overflow: hidden;

}
.repLegend:before {
    text-align: right;
    margin-left: -50%;
}

.demLegend {
    position: relative;
    font-size: 1.2em;
    z-index: 1;
    overflow: hidden;
    padding-left: 20%;
    margin-left: 5%;
}

.demLegend:before {
    content: ' ';
    background-color: dodgerblue;
    width: 48%;
    height: 2px;
    top: 51%;
    position: absolute;
    overflow: hidden;

}
.demLegend:before {
    text-align: right;
    margin-left: -50%;
}

.indLegend {
    position: relative;
    font-size: 1.2em;
    z-index: 1;
    overflow: hidden;
    padding-left: 20%;
    margin-left: 5%;
}

.indLegend:before {
    content: ' ';
    background-color: #fcfcfc;
    width: 48%;
    height: 2px;
    top: 51%;
    position: absolute;
    overflow: hidden;

}
.indLegend:before {
    text-align: right;
    margin-left: -50%;
}
/**********************************/


.lineRep {
    fill: none;
    stroke: dodgerblue;
    stroke-width: 2;
}

.lineDem {
    fill: none;
    stroke: indianred;
    stroke-width: 2;
}

.lineInd{
    fill: none;
    stroke: #fcfcfc;
    stroke-width: 2;

}

.dot {
    fill: whitesmoke;
    stroke: black;
}
/*.dDot {*/
/*    fill: whitesmoke;*/
/*    stroke: black;*/
/*}*/
/*.iDot {*/
/*    fill: whitesmoke;*/
/*    stroke: black;*/
/*}*/


.dropdown {
    position: relative;
    margin: 0 auto;
    width: 10%;
}



.dropbtn {
    background-color: slategray;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;

}


.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);
    background-color: whitesmoke;
    width: 200%;
    z-index: 9999;
    margin-left: -50%;

}

.dropdown-content input{
    color: black;
    padding: 10px 0px;
    text-align: center;
    display: block;
    width: 100%;


}

.dropdown-content input:hover {background-color: darkgrey}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #161616;
}

#graph{
    height: 80%;
    width: 100%;
    margin-bottom: 10%;
    background-color: #1a1a1a;
}

.x-axis line, path, text{
    stroke: whitesmoke;
}

.y-axis{

}


